
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#admin-page {

  padding-top: 0;

}
.admin-control-info{
  border-bottom: 1px solid #C1C1C1;
}
.create-admin-form {
  margin: 0 auto;
}
.table thead th, tbody td {
  text-align: center;
}

.create-form {
  width: 50%;
  margin: 0 auto;
}
ul li {
  list-style: none;
}
.user-img {
  height: 30px;
  width: 30px;
}
.status-active {
  background: #398439;


}
.status-not-active {
  background: #b52b27;
  min-width: 70px;
}
.status-active, .status-not-active {
  display: inline-block;
  padding: 3px;
  color: #ffffff;
  border-radius: 3px;
}